[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "==4.13.4"
bottle = "==0.13.3"
certifi = "==2025.4.26"
charset-normalizer = "==3.4.2"
click = "==8.2.1"
idna = "==3.10"
joblib = "==1.5.1"
nltk = "==3.9.1"
regex = "==2024.11.6"
requests = "==2.32.3"
soupsieve = "==2.7"
tqdm = "==4.67.1"
typing-extensions = "==4.14.0"
urllib3 = "==2.4.0"
wikipedia = "==1.4.0"

[dev-packages]

[requires]
python_version = "3.12"
